<body>
  <div class="container-fluid" style="text-align:center">
    <h1 id="qtitle">
       {{ title }}
    </h1>
  </div>

  <div class="container jumbotron">
    <div class="row">

      <div class="col-md-4">
        <h2>
            Add a new Quote
          </h2>
        <hr>
        <app-quote-form (addQuote)="addQuote($event)"></app-quote-form>
      </div>

      <div class="col-md-8" id="qrank">
        <app-quote></app-quote>
      </div>

    </div>
  </div>

  <footer>
    <div class="container-fluid">
      <p>&copy; Mai-Quotes 2018</p>
    </div>
  </footer>

</body>